.header{
    position: relative;
    font-family: Mitr;
    background-color:  #F1F1F1;
    height: 352px;
    width: 100%;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
      
}
body{
    margin: 0;
    padding: 0;
}
    
.header h2{
    position: relative;
    top: -45px;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 0;
    text-align: center;
    color: #656565;
}
.formwrapper{
    position: relative;
}
.formfield{
    position: relative;
    top: 89px;
    font-family: Sarabun;
    font-size: 36px;
    text-align: center;
}

label{ 
    width: 192px; 
    display: inline-block;
}


input[type=text], input[type=password]{
    position: relative;
    padding: 0 32px;
    margin: 25px;
    font-family: Sarabun;
    color: #656565;
    font-size: 36px;
    width: 372px;
    height: 59px;
    border-radius: 50px;
    background: #FBFBFB;
    box-shadow: 0px 0px 20px #A0A0A0;
}

input[type=submit]{
    position: relative;
    top: 125px;
    left: 544px;
    bottom: 229px;
    width: 225px;
    height: 64px;
    background-color: #F98F0D;
    font-family: Mitr;
    font-size: 36px;
    color: #FBFBFB;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}
::placeholder{
    color:#AAAAAA;
}
input[type=submit]:hover{
    background-color: #FFD55E;
}
.footer{
    position: relative;
    margin-top: 325px;
    color: #AAAAAA;
    text-align: center;
    font-family: Mitr;
    font-size: 24px;
}

