
body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: #F1F1F1;

}

/* Toggle Styles */

#viewport {
  padding-left: 250px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#content {
  position: relative;
  margin-left: 381px;
}
#publish{
    position: absolute;
    top: 52px;
    right: 42px;
    width: 281px;
    height: 80px;
    background-color: #F98F0D;
    font-family: Mitr;
    font-size: 36px;
    color: #FBFBFB;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}
#publish:hover{
    background-color: #FFD55E;
}
.content-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.content-header h2{
    position: relative;
    top: 52px;
    left: 158px;
    font-family: Mitr;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 57px;
    color: #424242;
}

#savebutton{
    position: absolute;
    top: 52px;
    left: 42px;
    width: 80px;
    height: 80px;
    background-color: #F98F0D;
    background-image: url(/img/Icons/left-arrow.png);
    background-size: 50px;
    background-repeat: no-repeat; 
    background-position: center;
    font-family: Mitr;
    font-size: 36px;
    color: #FBFBFB;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}
#texteditor {
    border-radius: 10px;
    width: 975px;
    height: auto;
    margin: 101px auto;
}
#texteditor input{
  height: 60px;
  width: 883px;
  font-family: Sarabun;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 47px;
  box-shadow: 0px 0px 20px #A0A0A0;
}
.tagAdd{
  height: 70px;
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 60px;
  justify-content: center;
  align-items: flex-start;
}
.tagManage h2, .tagManage h3{
  font-family: Sarabun;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 47px;
color: #424242;
margin: 0 0 0 10%;
}
.tagExample{
  display: inline;
  font-family: Mitr;
  color: #FBFBFB;
  background: #F98F0D;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  text-align:center;
}
.existingTag{
  margin: 27px;
}
.existingTag button{
  font-family: Mitr;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #F98F0D;
  background-color: #f1f1f1;
  border: none;
}